<app-navbar-system></app-navbar-system>
<div class="container p-2">


  <!-- HOME TEMPLATE -->
  <ng-container *ngIf="template === 'homeTemplate'">
    <div class="row">
      <div class="col-6 col-lg-2">
        <div class="card shadow p-3 bg-white rounded text-center" (click)="getTemplate('contactsTemplate')">
          <img class="m-auto" [src]="['./assets/images/system/messages.png']" alt="">
          <p class="mt-3 font-weight-bold">Contactos desde la web</p>
        </div>
      </div>

      <div class="col-6 col-lg-2">
        <div class="card shadow p-3 bg-white rounded text-center" (click)="getTemplate('applicantsTemplate')">
          <img class="m-auto" [src]="['./assets/images/system/request.png']" alt="">
          <p class="mt-3 font-weight-bold">Solicitudes de afiliación</p>
        </div>
      </div>
    </div>
  </ng-container>


  <!-- CONTACTS TEMPLATE -->
  <app-contacts-system
    *ngIf="template === 'contactsTemplate'"
    (outTemplate)="getTemplate($event)"
  ></app-contacts-system>


  <!-- APPLICANTS TEMPLATE -->
  <app-applicants-system
    *ngIf="template === 'applicantsTemplate'"
    (outTemplate)="getTemplate($event)"
  ></app-applicants-system>


</div>
