<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>


<header class="site-navbar py-3 js-site-navbar site-navbar-target" role="banner" id="site-navbar">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-11 col-xl-2 site-logo">
        <img [src]="['assets/images/logos/logo-web.png']" alt="" height="50">
      </div>

      <div class="col-12 col-md-10 d-none d-xl-block">
        <nav class="site-navigation position-relative text-right" role="navigation">
          <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
            <li>
              <a href="#section-home" class="nav-link">Inicio</a>
            </li>
            <li class="has-children">
              <a href="#section-about" class="nav-link">Sobre Nosotros</a>
              <ul class="dropdown">
                <li>
                  <a href="#section-how-it-works" class="nav-link">Nuestros Pilares</a>
                </li>
                <li>
                  <a href="#section-our-team" class="nav-link">Equipo HBC</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#section-services" class="nav-link">Servicios</a>
            </li>
            <li>
              <a href="#section-industries" class="nav-link">Industria</a>
            </li>
            <li>
              <a href="#section-customers" class="nav-link">Testimonios</a>
            </li>
            <li>
              <a href="#section-contact" class="nav-link">Contactos</a>
            </li>
          </ul>
        </nav>
      </div>


      <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;">
        <a href="#" class="site-menu-toggle js-menu-toggle">
          <span class="icon-menu h3"></span>
        </a>
      </div>
    </div>
  </div>
</header>


<div class="site-blocks-cover overlay" style="background-image: url(assets/images/hero_bg_2.jpg);" data-aos="fade"
     data-stellar-background-ratio="0.5" id="section-home">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
        <h1 class="text-white font-weight-light text-uppercase font-weight-bold" data-aos="fade-up">
          Logística
        </h1>
        <p class="mb-5" data-aos="fade-up" data-aos-delay="100">pensando en logística.</p>
        <p data-aos="fade-up" data-aos-delay="200">
          <a href="#section-about" class="btn btn-primary py-3 px-5 text-white">
            Conócenos
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
<!-------------------------------------------------------------->
<!------------------------ NOSOTROS ---------------------------->
<div class="site-section" id="section-about">
  <div class="container">
    <div class="row mb-5">

      <div class="col-md-5 ml-auto mb-5 order-md-2" data-aos="fade-up" data-aos-delay="100">
        <img [src]="['assets/images/img_3.jpg']" alt="Image" class="img-fluid rounded">
      </div>

      <div class="col-md-6 order-md-1" data-aos="fade-up">
        <div class="text-left pb-1 border-primary mb-4">
          <h2 class="text-primary">Sobre Nosotros</h2>
        </div>
        <p class="mb-5 text-justify ">En HBC sabemos que nuestros clientes esperan un servicio de excelencia. Y la
          excelencia es
          cumplir todas sus expectativas al máximo. Para lograrlo en HBC todas nuestras entregas cumplen tres
          objetivos:</p>

        <ul class="ul-check list-unstyled success">
          <li>Productos en perfecto estado.</li>
          <li>Entregas en los tiempos prometidos.</li>
          <li>Seguimiento y tracking constante.</li>
        </ul>

      </div>

    </div>
  </div>
</div>


<!----------------------------------------------------------------------------------------------------->
<!------------------------------------------ NUESTROS PILARES ----------------------------------------->
<div class="site-section bg-image overlay" style="background-image: url('assets/images/hero_bg_4.jpg');"
     id="section-how-it-works">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center border-primary">
        <h2 class="font-weight-light text-primary" data-aos="fade">Nuestros Pilares</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
        <div class="how-it-work-item">
          <span class="number">1</span>
          <div class="how-it-work-body">
            <h2 class="font-weight-bold">Tecnología</h2>

            <p class="mb-3 text-justify">En HBC contamos con los más avanzados sistemas informáticos de distribución de
              productos. Sistemas que generan las mejores rutas de reparto, la distribución más eficiente y con el menor
              uso de recursos.</p>

            <p class="mb-5 text-justify">Esta tecnología nos permite estar a la vanguardia en el mercado y ofrecer a
              nuestros clientes el mejor servicio con la mayor calidad.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
        <div class="how-it-work-item">
          <span class="number">2</span>
          <div class="how-it-work-body">
            <h2 class="font-weight-bold">Seguridad</h2>

            <p class="mb-5 text-justify">Que nuestros clientes reciban sus productos es nuestro más importante objetivo.
              Para
              cumplirlo nos tomamos muy en serio nuestro trabajo. En HBC supervisamos al máximo todas las etapas en el
              proceso de distribución de productos. Esto nos da la confianza para poder brindarle a nuestros clientes la
              seguridad de que recibirán sus productos.
            </p>

          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
        <div class="how-it-work-item">
          <span class="number">3</span>
          <div class="how-it-work-body">
            <h2 class="font-weight-bold">Puntualidad</h2>

            <p class="mb-3 text-justify">Apoyados en la tecnología, nuestras unidades de transporte cuentan con las
              mejores rutas de reparto. Igual de importante mantenemos comunicación constante con nuestros clientes para
              solicitar referencias y evitar imprevistos que retrasen nuestra entrega.
            </p>

            <p class="mb-5 text-justify">En HBC, cumplir los tiempos prometidos es lo más importante.</p>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!----------------------------------------------------------------------------------------------->
<!---------------------------------------- EQUIPO HBC ------------------------------------------->
<div class="site-section border-bottom" id="section-our-team">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center border-primary">
        <h2 class="font-weight-light text-primary" data-aos="fade">Equipo HBC</h2>
      </div>
    </div>

    <div class="row">

      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
        <div class="person">
          <img [src]="['assets/images/team/member.png']" alt="Image" class="img-fluid rounded mb-5 w-75 rounded-circle">
          <h3>Benedicto Vilcapoma</h3>
          <p class="position text-muted">Co-Founder, Gerente General</p>
          <p class="mb-4 text-justify">Aqui va el curriculum.</p>
          <ul class="ul-social-circle">
            <li><a href="#"><span class="icon-facebook"></span></a></li>
            <li><a href="#"><span class="icon-twitter"></span></a></li>
            <li><a href="#"><span class="icon-linkedin"></span></a></li>
            <li><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
        <div class="person">
          <img [src]="['assets/images/team/member.png']" alt="Image" class="img-fluid rounded mb-5 w-75 rounded-circle">
          <h3>Carlos Vilcapoma</h3>
          <p class="position text-muted">Co-Founder, Gerente de Operaciones</p>
          <p class="mb-4 text-justify">Aqui va el curriculum.</p>
          <ul class="ul-social-circle">
            <li><a href="#"><span class="icon-facebook"></span></a></li>
            <li><a href="#"><span class="icon-twitter"></span></a></li>
            <li><a href="#"><span class="icon-linkedin"></span></a></li>
            <li><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--------------------------------------- NUESTROS SERVICIOS ----------------------------------------->
<div class="site-section bg-light" id="section-services">
  <div class="container">

    <div class="row justify-content-center mb-5" data-aos="fade-up">
      <div class="col-md-7 text-center border-primary">
        <h2 class="mb-0 text-primary">Nuestros Servicios</h2>
        <p class="color-black-opacity-5">La calidad de nuestro trabajo nos respalda.</p>
      </div>
    </div>

    <div class="row align-items-stretch">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4">
            <img [src]="['assets/images/services/delivery.svg']" alt="" height="50">
          </div>
          <div>
            <h3>Entregas de ultima milla</h3>
            <p class="text-justify">En HBC contamos con colaboradores repartidos en zonas estratégicas de toda Lima
              metropolitana. Esto nos
              da la oportunidad de llegar a cada rincón de la ciudad y cumplir con nuestras entregas a tiempo.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4">
            <img [src]="['assets/images/services/route.svg']" alt="" height="50">
          </div>
          <div>
            <h3>Traking minuto a minuto</h3>
            <p class="text-justify">La tecnología nos acompaña y en HBC brindamos a nuestros clientes el máximo soporte
              y asistencia en el
              monitoreo del estado de sus productos. En tiempo real y totalmente online nuestros clientes pueden
              visualizar el rumbo de nuestras unidades de transporte que se encuentren de camino a su hogar.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4">
            <img [src]="['assets/images/services/drone.svg']" alt="" height="50">
          </div>
          <div>
            <h3>Efectividad del 99%</h3>
            <p class="text-justify">En HBC cumplimos lo que prometemos. La satisfacción de nuestros clientes es nuestra
              recompensa, y nos
              esforzamos al máximo en obtenerla. </p>
            <p>El 99% de clientes satisfechos nos respalda y seguiremos trabajando para lograr el 100%. </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!--------------------------------------------------------------------------------------------------->
<!------------------------------------ IMPACTANDO LA INDUSTRIA -------------------------------------->
<div class="site-section block-13" id="section-industries">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center border-primary">
        <h2 class="mb-0 text-primary">Impactando en la Industria</h2>
        <p class="color-black-opacity-5">Nuestra colaboracion estrategica nos respalda.</p>
      </div>
    </div>
  </div>

  <div class="owl-carousel nonloop-block-13">
    <div>
      <a href="#" class="unit-1 text-center">
        <img [src]="['assets/images/industria/transporte.jpg']" alt="Image" class="img-fluid">
        <div class="unit-1-text">
          <h3 class="unit-1-heading">Transporte</h3>
        </div>
      </a>
    </div>

    <div>
      <a href="#" class="unit-1 text-center">
        <img [src]="['assets/images/industria/tecnologia.jpg']" alt="Image" class="img-fluid">
        <div class="unit-1-text">
          <h3 class="unit-1-heading">Trazabilidad</h3>
        </div>
      </a>
    </div>

    <div>
      <a href="#" class="unit-1 text-center">
        <img [src]="['assets/images/industria/puntualidad.jpg']" alt="Image" class="img-fluid">
        <div class="unit-1-text">
          <h3 class="unit-1-heading">Puntualidad</h3>
        </div>
      </a>
    </div>

    <div>
      <a href="#" class="unit-1 text-center">
        <img [src]="['assets/images/industria/process.jpg']" alt="Image" class="img-fluid">
        <div class="unit-1-text">
          <h3 class="unit-1-heading">Proceso</h3>
        </div>
      </a>
    </div>


  </div>
</div>


<div class="site-blocks-cover overlay inner-page-cover"
     style="background-image: url(assets/images/hero_bg_2.jpg); background-attachment: fixed;">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">

      <div class="col-md-7" data-aos="fade-up">
        <a href="https://www.youtube.com/watch?v=Jvy7y7VlbAM"
           class="play-single-big mb-4 d-inline-block popup-vimeo"><span class="icon-play"></span></a>
        <h2 class="text-white font-weight-light mb-5 h1">Ver el video</h2>

      </div>
    </div>
  </div>
</div>


<!--------------------------------------------------------------------------------------->
<!------------------------------------ TESTIMONIOS -------------------------------------->
<div class="site-section border-bottom" id="section-customers">
  <div class="container">

    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center border-primary">
        <h2 class="font-weight-light text-primary">Testimonios</h2>
      </div>
    </div>

    <div class="slide-one-item home-slider owl-carousel">

      <div>
        <div class="testimonial">
          <img [src]="['assets/images/testimonios/testimonio1.jpg']" alt="Image" class="w-25 m-auto rounded-circle">

          <blockquote class="mt-5">
            <p class="text-justify">&ldquo;El pedido llegó a tiempo y sin problemas. El delivery fue muy
              amable.&rdquo;</p>
            <p class="author"> &mdash; Melissa Wong Ramirez</p>
          </blockquote>
        </div>
      </div>

      <div>
        <div class="testimonial">
          <img [src]="['assets/images/testimonios/testimonio2.jpg']" alt="Image" class="w-25 m-auto rounded-circle">

          <blockquote class="mt-5">
            <p class="text-justify">&ldquo;Mi pedido llegó sellado y en buenas condiciones. Agradezco a la empresa por
              llegar a tiempo y avisar con antelación para la entrega.&rdquo;</p>
            <p class="author"> &mdash; Rosa Diaz Huamani</p>
          </blockquote>
        </div>
      </div>

      <div>
        <div class="testimonial">
          <img [src]="['assets/images/testimonios/testimonio3.jpg']" alt="Image" class="w-25 m-auto rounded-circle">

          <blockquote class="mt-5">
            <p class="text-justify">&ldquo;Todo bien con el courier, 100% confiable. Los recomiendo!!&rdquo;</p>
            <p class="author"> &mdash; Karla Humbolt Salazar</p>
          </blockquote>
        </div>
      </div>

      <div>
        <div class="testimonial">
          <img [src]="['assets/images/testimonios/testimonio4.jpg']" alt="Image" class="w-25 m-auto rounded-circle">

          <blockquote class="mt-5">
            <p class="text-justify">&ldquo;Mi pedido llegó muy bien. El servicio de delivery fue cordial y puntual.&rdquo;</p>
            <p class="author"> &mdash; Romina Miranda Garay</p>
          </blockquote>
        </div>
      </div>

      <div>
        <div class="testimonial">
          <img [src]="['assets/images/testimonios/testimonio5.jpg']" alt="Image" class="w-25 m-auto rounded-circle">

          <blockquote class="mt-5">
            <p class="text-justify">&ldquo;A tiempo y en perfecto estado. Muy conforme.&rdquo;</p>
            <p class="author"> &mdash; Patricia Gonzales Casas</p>
          </blockquote>
        </div>
      </div>

    </div>
  </div>
</div>


<!-------------------------------------------------------------------------------------->
<!------------------------------------ CONTACTOS -------------------------------------->
<div class="site-section bg-light" id="section-contact">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center border-primary">
        <h2 class="font-weight-light text-primary">Contactenos</h2>
        <p class="color-black-opacity-5">Tu opinion es muy importante. Te contestaremos a la brevedad.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 mb-5">

        <!--------------------------------------------->
        <!--------- CONTACT FORM - COMPONENT ---------->
        <app-contact-form></app-contact-form>

      </div>
      <div class="col-md-5">

        <div class="p-4 mb-3 bg-white">
          <p class="mb-0 font-weight-bold">Dirección</p>
          <p class="mb-4"><a href="#">Aqui va la dirección de la empresa.</a></p>

          <p class="mb-0 font-weight-bold">Teléfono</p>
          <p class="mb-4"><a href="#">Aqui va el teléfono de la empresa.</a></p>

          <p class="mb-0 font-weight-bold">Correo electrónico</p>
          <p class="mb-0"><a href="#">ventas@hbclogistic.com</a></p>

        </div>

        <div class="p-4 mb-3 bg-white">
          <h3 class="h5 text-black mb-3">Trabaja con nosotros</h3>
          <p class="text-justify">¿Eres transportista? Trabaja con nosotros!!! Buscamos emprendedores con unidades de
            transporte listas para unirse a HBC. Llena el formulario de registro y te contactaremos a la brevedad.</p>


          <!------------------------------------------------------>
          <!----------- MODAL APPLICANT - COMPONENT -------------->
          <app-modal-applicants></app-modal-applicants>

        </div>
      </div>
    </div>
  </div>
</div>


<!------------------------------>
<!----------- FOOTER ----------->
<footer class="site-footer">
  <div class="container">

    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-5 mr-auto">
            <h2 class="footer-heading mb-4">Acerca de nosotros</h2>
            <p class="text-justify">En HBC sabemos que nuestros clientes esperan un servicio de excelencia. Y la
              excelencia es cumplir todas sus expectativas al máximo.</p>
          </div>
          <div class="col-md-4">
            <h2 class="footer-heading mb-4">Siguenos</h2>
            <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h2 class="footer-heading mb-4">Suscribete a Novedades.</h2>
        <form action="#" method="post">
          <div class="input-group mb-3">
            <input type="text" class="form-control border-secondary text-white bg-transparent"
                   placeholder="Ingrese su correo electronico" aria-label="Enter Email"
                   aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary text-white" type="button" id="button-addon2">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <div class="border-top pt-5">
          <p>Copyright &copy;2023 - Todos los derechos reservados.</p>
        </div>
      </div>

    </div>
  </div>
</footer>
